name: Pipeline

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      apptainer_def:
        required: false
        default: "Apptainer.def"
        type: string
      macro_file:
        required: false
        default: "macro/unit.mac"
        type: string
      geant4_tag:
        required: false
        default: "11.3.2-almalinux9"
        type: string

jobs:
  # build:
  #   uses: G4Med-test/ci-workflows/.github/workflows/apptainer-build-deploy.yml@test-k8s-runner
  #   permissions:
  #     contents: read
  #     packages: write
  #   with:
  #     apptainer_def: ${{ inputs.apptainer_def }}
  #     image_name: ${{ inputs.image_name }}
  #     geant4_tag: ${{ inputs.geant4_tag }}

  unit-test:
    #needs: build
    uses: G4Med-test/ci-workflows/.github/workflows/run-unit.yml@test-k8s-runner
    permissions:
      contents: read
      packages: read
    with:
      image_name: ${{ inputs.image_name }}
      macro_file: ${{ inputs.macro_file }}
